  :root {
    --primary-color: #2657F7;
    --secondary-color: #56494C;
    --accent1-color: #C2D3CD;
    --accent2-color: #769193;
    --accent2-color-transparent: rgba(118, 145, 147, 0.5);
    --background-color: #eee; 
    --heading-font: Roboto;
    --text-font: Poppins;
    color: #000;
    
  }

  
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    padding: 10px;
    max-width: fit-content;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    flex: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  header nav img {
    max-width: 150px;
    height: auto;
  }
  
  header nav a {
    text-decoration: underline;
    font-weight: bold;
    color: var(--secondary-color);
    font-weight: 900;
    margin-left: 20px;
    border: 1px solid black;
    background-color: gray;
    height: fit-content;
    color: white;
    padding: 5px;
  }


  
  
  h1, h2, h3 {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .hero {
    position: relative;
  }

  main h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 20px;
    background-color: var(--accent2-color-transparent);
    text-align: center;
    font-size: 100px;
  }

  main article {
    position: absolute;
    top: 325px;
    left: 20%;
    width: 60%;
    padding: 20px;
    background-color: var(--accent2-color-transparent);
    text-align: center;
    font-size: larger;
  } 

  .hero img {
    display:block;
    width: 100%;
    height: auto;
  }

  article img {
    float: left;
    max-width: 30%;
  }

  .image-description {
    margin-left: 20px;;
  }

  footer {
    clear: both; 
    background-color: #fff; 
    padding: 20px;
    text-align: center;
}

  .sociallinks a img {
    max-width: 50px;
    height: auto;
    margin: 0 5px;
  }